rpcUrl: https://ethereum-sepolia.blockpi.network/v1/rpc/public
# -- must match target chain
chainId: '11155111'
# -- can be one of `legacy`or `eip1559`
txType: legacy
# -- can be one of mainnet: `eth`, `arb`, `opt`, `gno`, `scr`, `zkevm`, `mantle`, or testnets: `gor`, `sep`, `ogor`, `mango`, `testnet-zkEVM-mango`, `mantle-testnet`, `scr-sepolia`
chainType: sep

env:
  normal:
    CFG_ETH_FROM: "0x1e68967a10a30602EbBa297cffeCC3645cB28D99"
    CFG_ETH_PASS: ""
    # THIS keystore is for testing purposes only. do not send funds here as you will lose them:
    CFG_ETH_KEYS: '{"crypto":{"cipher":"aes-128-ctr","cipherparams":{"iv":"22ae1be4ab7cd766e05c03e334deb9d2"},"ciphertext":"56439cc948fbecff1c252f5cede620f65821c6446ddb6d4bfa38f17754555a44","kdf":"scrypt","kdfparams":{"dklen":32,"n":8192,"p":1,"r":8,"salt":"7dcaf2f0196aa5c9d05dc15fac39ec15dbd99db2311813fd3d1d98324faf05c5"},"mac":"191ffca516d2c263402bd03e4cf1a6df60ebc833f489346fefdf0fe89138f305"},"id":"aea697d6-94d9-4433-bd69-4808597b0768","version":3}'

inlineConfig: |
  variables {
    separator       = env("CFG_SEPARATOR", "\n")
    target_chain_id = env("CFG_CHAIN_ID", "11155111")
  }
  ethereum {
    rand_keys = env("CFG_ETH_FROM", "") == "" ? ["default"] : []
    dynamic "key" {
      for_each = env("CFG_ETH_FROM", "") == "" ? [] : [1]
      labels   = ["default"]
      content {
        address         = env("CFG_ETH_FROM", "")
        keystore_path   = env("CFG_ETH_KEYS", "")
        passphrase_file = env("CFG_ETH_PASS", "")
      }
    }
    client "default" {
      ethereum_key = "default"
      rpc_urls     = explode(var.separator, env("CFG_CHAIN_RPC_URLS", ""))
      chain_id     = tonumber(env("CFG_CHAIN_ID", "11155111"))
      tx_type      = env("CFG_CHAIN_TX_TYPE", "legacy")
    }
  }
  info {
    ethereum_key = "default"
  }
  logger {
    log_level  = env("CFG_LOG_LEVEL", "debug")
    log_format = env("CFG_LOG_FORMAT", "text")
    metrics {
      listen_host = ""
      listen_port = 8080
      listen_path = "/healthz"
    }
  }
  transport {
    libp2p {
      disable_discovery = true
      ethereum_key      = "default"
      listen_addrs      = explode(var.separator, env("CFG_LIBP2P_LISTEN_ADDRS", "/ip4/0.0.0.0/tcp/8000"))
      feeds             = []
    }
  }
  spectre {
    scheduler = tonumber(env("CFG_SPECTRE_INTERVAL", "120"))
    scribe {
      ethereum_client = "default"
      contract_addr   = "0x0000000000000000000000000000000000000001"
      spread          = 1.0
      expiration      = 86400
    }
  }
